@tailwind base;
@tailwind components;
@tailwind utilities;

#card_sesion{
    width: 30rem;
    background: rgba(230, 124, 124, 0.8);
    color: rgb(2, 2, 2);
   align-content: center;
    
    
}



#card_cuadro{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Otra opción: ajustar según tus necesidades */
}

.inicios {
    background: url('../public/bg2.jpg');
    /* height: 100%; */
    min-height: 100vh; 
   z-index: -1;
   background-size: cover;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
  

}

/* styles.css */
.fondo-gris {
    background-color: rgb(230, 124, 124, 0.8); /* Puedes ajustar el color gris según tus preferencias */
    padding: 10px;
    

  }
  
  .fondo {
    background: url('../public/bg2.jpg');
    /* height: 100%; */
    min-height: 100vh; 
   z-index: -1;
   background-size: cover;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
  

}

textarea {
    width: 80%; /* O un valor como '200px', '50%' */
    height: 200px; /* O un valor dinámico */
  }

.fondox {
    background: rgba(5, 149, 132, 0.8);   
    
    
}

/* Contenedor envolvente para el fondo transparente */
.fondoy-wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Mantén el fondo detrás del contenido */
   
}
tr, table {
    position: flex;
    /* Mantén el fondo detrás del contenido */
    
   
}


  

/* Fondo con transparencia */
.fondoy {
    background: url('../public/bg4.jpg');
    /* height: 100%; */
    background-size: cover;
    background-position: center; /* Centra el fondo */
    width: 100%;
    height: 100%;
}

.textarea {
    margin-left: 20px; /* Ajusta este valor según sea necesario */
  }
  




